.congrats-section {
	max-width: 500px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 30px;
	border-radius: 14px;
	padding: 25px 40px 70px;
	background: var(--bg-color);
}

.congrats-image {
	max-width: 500px;
	width: 100%;
}

.congrats-section h2 {
	font-size: 38px;
	font-weight: 500;
	margin: 15px;
}

.congrats-section p {
	font-size: 24px;
	font-weight: 500;
	margin: 5px 0 70px;
}

.congrats-section .play-again-btn {
	max-width: 400px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--gradient-primary);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	border-radius: 12px;
	position: relative;
	overflow-y: auto;
	overflow-x: hidden;
	transition: box-shadow 0.3s ease-in-out;
	padding: 25px;
	cursor: pointer;
}

.congrats-section .play-again-btn:hover {
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.congrats-section .play-again-btn:active {
	transform: translateY(2px);
}

.congrats-section .play-again-btn p {
	margin: 0;
	font-size: 28px;
}
