@media (max-width: 800px) {
	.quiz-section {
		margin: 30px;
	}

	.quiz-section .head h2 {
		font-size: 28px;
	}

	.questions {
		padding: 30px 40px 50px;
	}

	.question-list {
		flex-wrap: wrap;
		gap: 10px;
	}

	.question-list li {
		min-width: 30px;
		min-height: 30px;
	}

	.question-list li p {
		font-size: 14px;
	}

	.question {
		max-width: 350px;
		font-size: 20px;
	}

	.answers {
		max-width: 450px;
		gap: 20px;
		margin: 10px 0;
	}

	.answer-button {
		width: 200px;
		height: 50px;
		gap: 8px;
	}

	.answer-button p {
		font-size: 16px;
	}
}

@media (max-width: 570px) {
	.questions {
		padding: 20px;
	}
}
@media (max-width: 425px) {
	.quiz-section {
		margin: 10px;
	}

	.quiz-section .head h2 {
		font-size: 18px;
	}

	.quiz-section .head .score {
		padding: 5px 12px;
	}

	.quiz-section .head .score p {
		font-size: 14px;
	}

	.questions {
		max-width: 350px;
		padding: 10px;
	}

	.question-list {
		gap: 14px;
	}

	.question-list li {
		min-width: 35px;
		min-height: 35px;
	}

	.question-list li p {
		font-size: 16px;
	}

	.question {
		max-width: 350px;
		font-size: 20px;
	}

	.answers {
		max-width: 450px;
		gap: 10px;
		margin: 10px 0;
	}

	.answer-button {
		width: 100%;
		height: 60px;
	}
}
