.quiz-section {
	max-width: 768px;
	margin: 50px;
}

.quiz-section .head {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 14px;
}

.quiz-section .head h2 {
	font-size: 32px;
	letter-spacing: 1.1px;
}

.quiz-section .head .score {
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--gradient-primary);
	padding: 5px 15px;
	border-radius: 24px;
}

.quiz-section .head .score p {
	height: max-content;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 18px;
	font-weight: 500;
}

.questions {
	max-width: 768px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 10px;
	border-radius: 14px;
	padding: 50px 60px 70px;
	background: var(--bg-color);
}

.question-list {
	padding: 0;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 14px;
}

.question-list li {
	min-width: 40px;
	min-height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	padding: 2px;
	background: var(--overlay-bg);
	transition: background 0.3s ease-in-out;
}

.question-list li.answered {
	background: var(--gradient-primary);
}

.question-list li p {
	font-size: 18px;
	font-weight: 500;
}

.question {
	max-width: 500px;
	margin: 0px 5px 20px;
	font-size: 25px;
	font-weight: 500;
}

.answers {
	max-width: 650px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 20px;
	margin: 10px 0;
}

.answer-button {
	width: 250px;
	height: 65px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	background: var(--overlay-bg);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	border-radius: 12px;
	position: relative;
	overflow: hidden;
	transition: box-shadow 0.3s ease-in-out;
	cursor: pointer;
}

.answer-button:not(:disabled):hover {
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.answer-button::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: var(--gradient-primary-hover);
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
	border-radius: 12px;
	z-index: 0;
	pointer-events: none;
}

.answer-button:not(:disabled):hover::before {
	opacity: 0.8;
}

.answer-button:active::before,
.answer-button.selected::before {
	background: var(--gradient-primary);
	opacity: 1;
}

.answer-button:disabled {
	cursor: default;
	opacity: 0.6;
}

.answer-button:disabled.selected,
.answer-button.correct {
	opacity: 1;
}

.answer-button p,
.answer-button img {
	position: relative;
	z-index: 1;
}

.answer-button p {
	font-size: 18px;
}

.answer-button:disabled p {
	color: rgba(255, 255, 255, 0.87);
}

.answer-icon {
	display: none;
	position: relative;
	z-index: 1;
}

.answer-button.correct .answer-icon,
.answer-button.selected.wrong .answer-icon {
	display: block;
}
